html,
body {
    /* align pdf in center */
   
}

#pdf {
    height: 90%;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signature {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #323639;
    width: 100%;
    padding: 1vh 0 1vh 0;
    
    
}

#signature p,
#signature div,
#signature a {
   background-color: #323639;
    color: #eee;
}



#signature button {
    border: 0;
    margin: 1.5rem 2rem 0;
    cursor: pointer;
}

#signature a {
    text-decoration: none;
}

#attachment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
@media (max-width: 720px) {
    #attachment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}