iframe {
    border: none;
}

#signature {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #323639;
    width: 100%;
    padding: 1vh 0 1vh 0;
    align-items: center;
    justify-content: center;
}

#signature p,
#signature div,
#signature a {
   background-color: #323639;
    color: #eee;
}

#signature button {
    border: 0;
    margin: 1.5rem 2rem 0;
    cursor: pointer;
}

#signature a {
    text-decoration: none;
}

@media (max-width: 720px) {
    #signature button {
        margin: 0.5rem 0.8rem 0;
    }
}